.App {
  align-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
h1{
  margin-left: 5%
}
Button{
  margin-right: 10px
}
Alert{
  width: 100px
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
textarea{
  resize: none;
}
#new-task-form{
  width: 100%;
  align-content: center
}

#new-task-form .new-form{
  display: flex;
  justify-content: center;
  width: 50%;
}

#new-task-form #submit-button{
  width: 100px;
  align-content:
}

#edit-buttons{
  display: inline-flex;
  float: right;
  align: center;
  margin-right: 0px;
}
